.container{
    display:flex;
}
.sidebar{
    position: relative;
    width: 10%;
}
.dashboard{
    position:relative;
    width: 90%;
    z-index: 0;
    justify-self: right;
}

.topBaseGradients{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 20rem;
    width: 100vw;
    overflow-x: hidden;
    z-index: -1;
}
.topBaseGradients>:nth-child(2){
    left: 20%;
}
.topBaseGradients>:nth-child(3){
    right: 0;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}
.header>:nth-child(1)
{
    font-size: 1rem;
}
.searchBar{
    background-color: rgba(255, 255, 255, 0.496);
    width: 10rem;
    max-width: 25rem;
    padding: 1rem 1rem;
    border-radius: 8px;
    height: 2rem;
    display: flex;
    align-items: center;
    border: 2px solid rgb(63, 63, 63);
    justify-content: left;
    gap: 8px;
}

.search{
    background-color:transparent ;
    width: 100%;
    color: white;
    outline: none;
    border: none;
    padding: 5px;
}
.profile{
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    
}

.details{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.details>:nth-child(1)
{
    font-size: 1rem;
    font-weight: bold;
}
.header>:nth-child(1){
    margin-left: 1rem;
}
.content{
    margin-top: 4rem;
}
@media screen and (max-width: 775px) {
    .profile{
        flex-direction:column;
        align-items: center;
        justify-content: center;
    }
}
@media screen and (max-width: 700px) {
    .details>:nth-child(1)
{
    font-size: .5rem;
    font-weight: bold;
}
.details>:nth-child(2)
{
    font-size: .5rem;
    font-weight: bold;
}
.header>:nth-child(1)
{
    font-size: .7rem;
    font-weight: bold;
    margin: .3rem;
}
.profile{
    margin-left: .5rem;
}

}
@media screen and (max-width:540px){
    .details{
        display: none;
    }
    .searchBar{
        display: flex;
    }
    .searchBar>input{
        display: none;
    }
}
@media screen and (max-width:395px){
    .header>:nth-child(1){
        font-size: .5rem;
    }
    .searchBar{
        width: 7.5rem;
        height: 1.5rem;
    }
}