.calender-container{
    margin: auto;
    width: 90%;
    height: 130vh;
}
.fc-event{
    background: var(--orange-gradient)!important;
}
.fc .fc-timegrid-slot{
    height: 2.5rem!important;
}
td{
    cursor: pointer;
    border : 1px solid var(--grey)!important;
}
@media (min-width:900px) {
    .calender-container{
        padding: 0 5rem;
        max-width: 1100px;
}

}
@media (min-width:1100px) {
    .calender-container{
        padding: 0 5rem;}
}